<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/reject_mentor_search">
  <table width="200" border="1">
    <tr>
      <td><input type="text" name="textfield" id="textfield" /></td>
      <td><input type="submit" name="button" id="button" value="Search" /></td>
    </tr>
  </table>
  <table width="200" border="1">
    <tr>
      <td>#</td>
      <td>Name</td>
      <td>Photo</td>
      <td>DOB</td>
      <td>Gender</td>
      <td>Address</td>
      <td>Phone</td>
      <td>Email</td>
    </tr>
    {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i['Name'] }}</td>
      <td><img src=" {{ i['Photo' ]}}"height="50px"width="50px"> </td>
      <td>&nbsp;{{ i['DOB'] }}</td>
      <td>&nbsp;{{ i['Gender'] }}</td>
        <td>{{ i['Qualification']}}</td>
      <td>&nbsp;{{ i['Place'] }},{{ i['Post']}},{{i['District'] }},{{ i['State'] }}</td>
      <td>&nbsp;{{ i['Phone'] }}</td>
      <td>&nbsp;{{ i['Email'] }}</td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
</body>
</html>
