<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/send_complaint">send complaint</a><br>
<a href="/mentor_chg_passwrd">Change Password</a><br>
<a href="/mentor_view_profile">view profile</a><br>
<a href="/view_user_request_Pending">view user pending request</a><br>
<a href="/view_user_request_accepted">view user accepted request</a><br>
<a href="/view_emotiongraph">emotion</a><br>
<a href="/view_reply">view reply</a><br>


</body>
</html>